node_modules
src
yarn-error.log
.gitignore
.editorconfig
.eslintrc.json
.eslintignore
.prettierrc
.browserslistrc
publish.sh

build
public

*.config.js
tsconfig.json

# jest
jest.config.js
test
coverage

